@import "tailwindcss";

:root {
  --background: #f1f1f4;
  --foreground: #1c1c24;
  --royal-blue: #1c0dcb;
  --lavender: #d6d5f7;
  --lavender-text: #5955b3;
  --font-mono: var(--font-space-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-royal-blue: var(--royal-blue);
  --color-lavender: var(--lavender);
  --color-lavender-text: var(--lavender-text);
  --font-mono: var(--font-space-mono);
  --font-doodle: var(--font-playpen-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-mono), Courier, monospace;
}
